*{
    font-family:sans-serif;
    cursor:pointer;
    padding:0;
    margin:0;
}
a{
    color:inherit;
    text-decoration: none;
}

ul{
   list-style-type: none;
}
    
    #admin{
        float:right;
        width:150px;
        margin:10px;
        padding:15px;
        border:none;
        background:#4464AD;
        color:#fff;
    }
    #new-acc-tip{
        margin:10px auto;
        width:200px;
    }
    #new-acc-tip:hover{
        text-decoration: underline;
    }
    .msg{
        border-radius:10px;
        margin:20px auto 20px auto ;
        padding:20px;
        width:400px;
        background:#4464AD;
    }
    .msg-success{
        color:#fff;
    }
    .msg-fail{
        color:red;
    }
    h1{
        clear: both;
        margin-top:2em;
        color:#4464AD;
        text-align:center;
    }
    body{
        text-align:center;
        background:#fff;
        padding-bottom: 50px;
    }
    select{
        font-size:1.2em;
        padding:10px;
        margin:30px 0;
        width:200px;
    }
    form{
        border-radius:5px;
        box-shadow:0px 20px 10px rgba(0,0,0,0.3);
        padding:50px 10px;
        width: 400px;
        margin:20px auto 50px auto;
        background:#4464AD;
    }
    form p{
        font-size:0.9em;
        color:#fff !important;
    }
    input{
        font-size:1.2em;
        padding:10px;
        margin:10px 0;
        width:160px;
        
    }
    label{
        width:100px;
        font-size:1.2em;
        color: #fff;
        margin:10px 30px;
    }
    
    #order-totals{
        font-weight: 700;
        font-size: 1.4em;
        color:tomato;
    }
    .white-btn{
        width:200px;
        padding:15px;
        border:none;
        color:#4464AD;
        background:#fff;
        text-decoration:underline;
        transition:all linear .3s .3s;
    }
    .white-btn:hover{
        transition:all linear .3s .1s;
        color:#fff;
        background:#4464AD;
        text-decoration:none;
    }
    .orange-btn{
        
        margin:10px auto;
        width:200px;
        padding:15px;
        border:none;
        background:#4464AD;
        color:#fff;
        text-decoration:underline;
        transition:all linear .3s .3s;
    }
    .orange-btn:hover{
        transition:all linear .3s .1s;
        background:#fff;
        color:#4464AD;
        text-decoration:none;
    }
    .white-btn-static{
        width:200px;
        padding:15px;
        border:none;
        background:#4464AD;
        color:#fff;
        text-decoration:underline;
        transition:all linear .3s .3s;
    }
    .menu-card{
        border-radius:10px;
        background:#4464AD;
        padding:20px;
        margin:20px;
        color:#fff;
        width:200px;
        display:inline-block;
        transition:all linear .3s;
    }
    
    .mycart{
        border-radius:10px;
        background:#4464AD;
        padding:20px;
        margin:0px;
        color:#fff;
        width:200px;
        display:inline-block;
        transition:all linear .3s;
    }
    .menu-card:hover{
        transition:all linear .3s;
        transform:scale(1.07);
    }
    .menu-card img{
        height:100px;
        width:100px;
    }
    .fa-angle-double-down{
        display: block !important;
        color:#4464AD;
        font-size: 3em;
        margin:20px auto;
        position: relative;
        animation: landing-bubble 2s ease-in-out infinite forwards;
    }
    .user-icon{
        font-size:1.5em !important;
    }

    .admin-icon{
        color:tomato;
    }

    .res-pics{
        margin-top:50px;
        width:200px;
        height:200px;
    }

    .order-detail{
        background: #fff;
        border-radius: 10px;
        border:solid 2px #4464AD;
        color:#4464AD;
        width:40%;
        margin:10px auto;
        padding:30px;
        transition: all linear .4s .3s;
    }

    .order-detail:hover{
        color:#fff;
        background: #4464AD;
        transition: all linear .4s ;
    }
    .order-detail h2{
        text-align: left;
    }
    .order-status{
        float: right;
    }
    .order-time{
        float: right;
    }
    .order-detail p{
        display:inline-block;
    }
    .fa-hourglass-half{
        font-size:0.8em;
      
    }

    .fa-spinner{
          animation: pending-order 2s linear infinite;
    }

    .order-description{
        border:solid 1px #4464AD;
        border-radius: 10px;
        width:300px;
        margin:50px auto;
        padding:20px 30px;
    }

    .order-description h3{
        text-decoration:underline;
        margin:5px;
    }

    .order-description li{
        margin-top:10px;
    }

    .order-description p{
        text-decoration: underline;
    }

    .order-description button{
        border:none;
        margin:30px 0 10px 0;
        width:120px;
        padding:10px;
        color:#fff;
    }

    .prepare{
        background: #4464AD;
    }
    .complete{
        background: #00b31b;
    }
    .cancel{
        background:tomato;
    }

    .fa-heart-broken{
        font-size:3em;
        margin:90px auto 30px auto ;
    }

    table {
        clear: both;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 400px;
        margin:50px auto;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        color:#fff;
    }

    tr {
        background-color: #4464AD;
    }

    .table-pic{
        height:80px;
        width:80px;
    }
    nav{
        background:#4464AD;
        padding:15px;
        text-align: right;
    }
    nav h1{
        text-align: left;
        margin:0;
        color:#fff;
        float: left;
    }

    nav p:hover{
        text-decoration: underline;
        color:#fff;
    }

    nav p{
        padding:15px;
        color:#fff;
        display: inline-block;

    }
    #item{
        font-size: 0.9em;
    }


    @keyframes landing-bubble{
        0%{
            top:0;
        }
        50%{
            top:40px;
        }
        100%{
            top:0;
        }
    }

    @keyframes pending-order{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }